# ===============================
# Build outputs
# ===============================
*.exe
*.obj
*.dll
*.pdb
*.lib

# ===============================
# Dependency / SDK folders
# ===============================
bin/
lib/
lib64/
include/
output/

# ===============================
# Logs & temp files
# ===============================
*.log
*.tmp

# ===============================
# OS specific
# ===============================
.DS_Store
Thumbs.db
